<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>模拟checkbox多选提交</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/color.css">
</head>
<body>

<div>
    <input type="checkbox" name="test" class="yhh" value="A">A</input>
    <input type="checkbox" name="test" class="yhh" value="B">B</input>
    <input type="checkbox" name="test" class="yhh" value="C">C</input>
    <input type="checkbox" name="test" class="yhh" value="D">D</input>
    <input type="button" id="tijiao" value="提交">
</div>

<div class="myColor">
    <ul class="pagination  pull-right">
        <li><a class="btn btn-success btn-lg active" href="#" >首页</a></li>
        <li><a class="btn btn-success btn-lg active" href="#" role="button">上一页</a></li>
        <li><a class="btn btn-success btn-lg active" href="#" role="button">3</a></li>
        <li><a class="btn btn-success btn-lg active" href="#" role="button">下一页</a></li>
        <li><a class="btn btn-success btn-lg active" href="#" >首页</a></li>
    </ul>
</div>

<!--    <button id="tijiao">提交</button>-->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/js/md5.min.js"></script>

<script>

    $('#tijiao').click(function () {
        //jquery获取checkbox选中的多个值
        /*$.each($('[name=test]:checked'),function () {
            value = $(this).val();
            alert(value);
            // return false;
        })*/
        //js获取checkbox选中的多个值
        let salt = 'yhhbysl';
        let str = "" + salt.charAt(0) + salt.charAt(2) + 'yhh666' + salt.charAt(5) + salt.charAt(4);
        alert(str)
        // var pass = md5('yhyhh666sy');
        // alert(pass);
        /*var obj = document.getElementsByName("test");
        for (var i = 0; i < obj.length; i++) {
            if (obj[i].checked) alert(obj[i].value);
        }
        if (confirm("确认选择")) {
            alert("确认")
        } else {

        }*/
    })
</script>


</body>
</html>