<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::common_header(~{::title},~{})">

    <title>首页</title>


</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="~{common/common::sidebar(first='main',second='')}"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:replace="~{common/common::topbar}"></div>
        <!--End 头部信息-->


        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h3>通知公告</h3></div>
                            <div class="card-body">
                                <h4><a href="http://jwc.hdu.edu.cn/2021/0329/c4524a133307/page.htm">2021届本科毕业生创新创业实践学分、申请课程替代信息公示</a>
                                </h4>
                                <h4><a href="http://jwc.hdu.edu.cn/2021/0304/c4524a132710/page.htm">2020-2021学年第二学期本科学生《国家学生体质健康测试标准》测试网上选课的通知</a>
                                </h4>
                                <h4>
                                    <a href="http://jwc.hdu.edu.cn/2021/0227/c4524a132536/page.htm">关于延长本科生第二轮次选课时间的通知</a>
                                </h4>
                                <h4>
                                    <a href="http://jwc.hdu.edu.cn/2021/0106/c4524a132058/page.htm">2020-2021学年第二学期选课通知</a>
                                </h4>
                                <h4><a href="http://jwc.hdu.edu.cn/2020/1228/c4524a131871/page.htm">关于公示2020-2021学年第2学期教学任务安排的通知</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<div th:replace="common/common::common_js(~{})"></div>
</body>
</html>